@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  padding: 0;
  margin: 0;
}
body .btn-bg {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .btn-bg.link {
  background: #362a1d;
}
body .btn-bg.link .btn-group .blog button {
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: 5px solid #fff;
  padding: calc(1rem + 10px) calc(3rem + 6.5px);
  background: linear-gradient(45deg, #fff 7.5px, transparent 5px) 0px 10px, linear-gradient(225deg, #fff 7.5px, transparent 5px) 10px 0px, linear-gradient(45deg, #eef 7.5px, transparent 5px) 0px 20px, linear-gradient(225deg, #eef 7.5px, transparent 5px) 10px 10px, linear-gradient(45deg, #dcdde5 7.5px, transparent 5px) 0px 30px, linear-gradient(225deg, #dcdde5 7.5px, transparent 5px) 10px 20px, linear-gradient(90deg, #c9cacc 10px, transparent 10px), linear-gradient(#dcdde5 25%, #c9cacc 25%, #c9cacc 50%, transparent 50%, transparent 75%, #eef 75%, #eef);
  background-color: transparent;
  background-size: 0px 0px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .blog button .like {
  position: absolute;
  content: '';
  top: calc(50% - 35px);
  left: calc(50% - 29.5px);
  width: 60px;
  height: 80px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform: scale(0.1);
  transition: all 0.25s ease;
}
body .btn-bg.link .btn-group .blog button .like .hand {
  height: 30px;
  position: relative;
}
body .btn-bg.link .btn-group .blog button .like .hand:before,
body .btn-bg.link .btn-group .blog button .like .hand:after {
  width: 20px;
  height: 30px;
  background: #50514f;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
}
body .btn-bg.link .btn-group .blog button .like .hand:after {
  left: inherit;
  right: 0;
}
body .btn-bg.link .btn-group .blog button .like .Finger {
  height: 40px;
  position: relative;
}
body .btn-bg.link .btn-group .blog button .like .Finger:before {
  width: 60px;
  height: 20px;
  background: #50514f;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
}
body .btn-bg.link .btn-group .blog button:hover {
  color: transparent;
  border-color: transparent;
  background-color: #fff;
  background-size: 20px 40px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .blog button:hover .like {
  transform: scale(0.5);
  opacity: 1;
  transition: all 0.25s ease;
}
body .btn-bg.link .btn-group .code button {
  color: #e3ef9b;
  border-radius: 5px;
  border: 5px solid #e3ef9b;
  overflow: hidden;
  position: relative;
  padding: calc(1rem + 10px) calc(3rem + 6.5px);
  background: linear-gradient(45deg, #787878 7.5px, transparent 5px) 0px 10px, linear-gradient(225deg, #787878 7.5px, transparent 5px) 10px 0px, linear-gradient(45deg, #565656 7.5px, transparent 5px) 0px 20px, linear-gradient(225deg, #565656 7.5px, transparent 5px) 10px 10px, linear-gradient(45deg, #121212 7.5px, transparent 5px) 0px 30px, linear-gradient(225deg, #121212 7.5px, transparent 5px) 10px 20px, linear-gradient(90deg, #343434 10px, transparent 10px), linear-gradient(#121212 25%, #343434 25%, #343434 50%, transparent 50%, transparent 75%, #565656 75%, #565656);
  background-color: transparent;
  background-size: 0px 0px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .code button .skeleton {
  position: absolute;
  content: '';
  top: calc(50% - 30px);
  left: calc(50% - 34px);
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.25s ease;
}
body .btn-bg.link .btn-group .code button .skeleton .face {
  height: 20px;
  width: 70px;
  position: relative;
  z-index: 1;
}
body .btn-bg.link .btn-group .code button .skeleton .face:before,
body .btn-bg.link .btn-group .code button .skeleton .face:after {
  width: 50px;
  height: 60px;
  position: absolute;
  content: '';
  background: #fff;
  top: 0px;
  left: 10px;
  z-index: 1;
}
body .btn-bg.link .btn-group .code button .skeleton .face:after {
  width: 70px;
  height: 30px;
  top: 10px;
  left: 0;
  right: 0;
}
body .btn-bg.link .btn-group .code button .skeleton .eye {
  height: 20px;
  width: 70px;
  position: relative;
}
body .btn-bg.link .btn-group .code button .skeleton .eye:before,
body .btn-bg.link .btn-group .code button .skeleton .eye:after {
  width: 20px;
  height: 10px;
  position: absolute;
  content: '';
  background: #50514f;
  left: 10px;
  z-index: 999;
}
body .btn-bg.link .btn-group .code button .skeleton .eye:after {
  left: inherit;
  right: 10px;
}
body .btn-bg.link .btn-group .code button .skeleton .mouth {
  width: 70px;
  height: 20px;
  position: relative;
}
body .btn-bg.link .btn-group .code button .skeleton .mouth:before,
body .btn-bg.link .btn-group .code button .skeleton .mouth:after {
  position: absolute;
  content: '';
  background: #50514f;
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 20px;
  z-index: 999;
}
body .btn-bg.link .btn-group .code button .skeleton .mouth:after {
  left: inherit;
  right: 20px;
}
body .btn-bg.link .btn-group .code button:hover {
  color: transparent;
  border-color: transparent;
  background-color: #50514f;
  background-size: 20px 40px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .code button:hover .skeleton {
  transform: scale(1);
  opacity: 1;
  transition: all 0.25s ease;
}
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.btn {
  margin: 0 30px 30px 30px;
  display: block;
}
.btn-info {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 3.5em;
  color: rgb(128, 219, 112);
}
.btn-mention {
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Lato';
  letter-spacing: 0.1em;
  font-size: 1.1em;
  color: rgb(115, 185, 241);
}
.btn-mention span {
  font-size: 1.2em;
  font-weight: 600;
}
button {
  cursor: pointer;
  overflow: visible;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
button a {
  text-decoration: none;
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
